# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\mico-services\GIT-Config\commons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
